<div class="footer">
    <div class="container">
        <div class="footer__column">
            <div class="footer__column-heading">Giới thiệu</div>
            <ul class="footer__column-items">
                <li><a href="#!">Về Chúng Tôi</a></li>
                <li><a href="#!">Sản phẩm</a></li>
                <li><a href="#!">Khuyến mãi</a></li>
                <li><a href="#!">Chuyện cà phê</a></li>
                <li><a href="#!">Cửa Hàng</a></li>
                <li><a href="#!">Tuyển dụng</a></li>
            </ul>
        </div>

        <div class="footer__column">
            <div class="footer__column-heading">Điều khoản</div>
            <ul class="footer__column-items">
                <li><a href="#!">Điều khoản sử dụng </a></li>
                <li><a href="#!">Chính sách bảo mật thông tin </a></li>
                <li><a href="#!">Hướng dẫn xuất hóa đơn GTGT</a></li>
            </ul>
        </div>

        <div class="footer__column">
            <div class="footer__column-heading">Đặt hàng: 1800 6936</div>
            <div class="footer__column-heading">Liên hệ</div>
            <div class="footer__address">
                <p>
                    Tầng 3-4 Hub Building 195/10E Điện Biên Phủ, P.15, Q.Bình
                    Thạnh, TP.Hồ Chí Minh
                </p>
            </div>
        </div>

        <div class="footer__column">
            <a href="https://www.facebook.com/The.Coffee.House.2014/">
                <p>
                    <img
                        src="../assets/img/fb-banner.png"
                        alt=""
                        class="footer__fb-banner"
                    />
                </p>
            </a>
            <p class="footer__social">
                <a
                    href="https://www.facebook.com/The.Coffee.House.2014/"
                    class="footer-facebook"
                >
                    <img src="../assets/img/facebook-icon.webp" alt="" />
                </a>

                <a href="https://www.instagram.com/thecoffeehousevn/">
                    <img
                        src="../assets/img/white-instagram-icon-png.png"
                        alt=""
                        class="footer-instagram"
                    />
                </a>
            </p>
        </div>
    </div>
</div>
