<div class="container">
    <div class="top-bar">
        <!-- More -->

        <!-- Logo -->
        <a href="../view/index-logined.html" class="logo">
            <img src="../assets/img/tch-logo.png" alt="" class="logo__img" />
        </a>

        <!-- Navbar -->
        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="" class="navbar__link">Cà phê </a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link">Trà</a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link">Menu</a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link">Chuyện Nhà</a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link">Cảm hứng CloudFee</a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link">Cửa hàng</a>
                </li>
            </ul>
        </nav>

        <!-- Actions -->
        <div class="top-act">
            <div class="top-act__user">
                <img
                    src="../assets/img/avatar.jpg"
                    alt=""
                    class="top-act__avatar"
                />

                <!-- Dropdown -->
                <div class="dropdown">
                    <div class="dropdown__inner">
                        <a href="../view/profile.html" class="dropdown-action">
                            Thông tin tài khoản
                        </a>
                        <a href="" class="dropdown-action"> Địa chỉ </a>
                        <a href="" class="dropdown-action">
                            Lịch sử mua hàng
                        </a>
                        <a href="../index.html" class="dropdown-action"
                            >Đăng xuất</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
