<div class="container">
    <div class="top-bar">
        <!-- More -->

        <!-- Logo -->
        <a href="" class="logo">
            <img src="./assets/img/tch-logo.png" alt="" class="logo__img" />
        </a>

        <!-- Navbar -->
        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="./view/coffee.html" class="navbar__link">Cà phê</a>
                </li>
                <li class="navbar__item">
                    <a href="./view/tea.html" class="navbar__link">Trà</a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link">Menu</a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link">Chuyện Nhà</a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link">Cảm hứng CloudFee</a>
                </li>
                <!-- <li class="navbar__item">
                    <a href="" class="navbar__link">Cửa hàng</a>
                </li> -->
            </ul>
        </nav>

        <!-- Actions -->
        <div class="top-act">
            <!-- <div class="top-act__user">
                <img
                    src="./assets/img/avatar.jpg"
                    alt=""
                    class="top-act__avatar"
                />
            </div>
             -->
            <a href="./view/sign-in.html" class="btn btn--text">Sign In</a>
            <a href="./view/sign-up.html" class="btn btn--primary">Sign Up</a>
        </div>
    </div>
</div>
