<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>The Coffee House</title>

        <!-- Favicon -->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../assets/favicon/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../assets/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="../assets/favicon/favicon-16x16.png"
        />
        <link rel="manifest" href="../assets/favicon/site.webmanifest" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />

        <!-- Font -->
        <link rel="stylesheet" href="../assets/fonts/stylesheet.css" />

        <!-- Styles -->
        <link rel="stylesheet" href="../assets/css/main.css" />

        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="../js/getAdminOther.js" defer></script>
        <script src="../assets/js/scripts.js"></script>
    </head>

    <body>
        <!-- Header -->
        <!-- <header id="header" class="header"></header>
        <script>
            load("#header", "../templates/header-logined.html");
        </script> -->

        <div class="row row__admin">
            <!-- Sidebar -->
            <div class="col-2">
                <div class="sidebar">
                    <img
                        src="../assets/img/tch-logo.png"
                        alt=""
                        class="logo__img"
                        style="width: 200px"
                    />
                    <h1 class="sidebar__title">Danh mục</h1>
                    <ul class="sidebar__content">
                        <li>
                            <a
                                href="./admin-coffee.html"
                                class="sidebar__content--list"
                                >Cà phê</a
                            >
                        </li>
                        <li>
                            <a
                                href="./admin-tea.html"
                                class="sidebar__content--list"
                                >Trà</a
                            >
                        </li>
                        <li>
                            <a
                                href="./admin-others.html"
                                class="sidebar__content--list"
                                ><p class="choose-others">Sản phẩm khác</p></a
                            >
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Main -->
            <div class="col-10 main">
                <!-- Navbar -->
                <div class="main__navbar">
                    <div class="main__search">
                        <img
                            src="../assets/icons/search.svg"
                            alt=""
                            class="main__search--icon"
                        />
                        <form action="" class="search">
                            <input
                                type="text"
                                name=""
                                id="full-name"
                                placeholder="Tìm kiếm tên sản phẩm"
                                class="form__input"
                                required=""
                            />
                        </form>
                    </div>
                    <div class="top-act__user">
                        <img
                            src="../assets/img/avatar.jpg"
                            alt=""
                            class="top-act__avatar"
                        />

                        <!-- Dropdown -->
                        <div class="dropdown dropdown__admin">
                            <div class="dropdown__inner">
                                <a class="dropdown-action" onclick="logout()"
                                    >Đăng xuất</a
                                >
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Order -->
                <div class="row order">
                    <p class="order__title">Sắp xếp theo</p>
                    <div class="order-options">
                        <div class="btn">
                            <p class="order__text">Tên</p>
                        </div>
                        <div class="btn">
                            <p class="order__text">Giá tăng dần</p>
                        </div>
                        <div class="btn">
                            <p class="order__text">Giá giảm dần</p>
                        </div>
                    </div>
                    <button class="add-new-products-btn">
                        <p class="add__text">Thêm sản phẩm</p>
                    </button>
                </div>
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        const buttons = document.querySelectorAll(
                            ".order-options .btn"
                        );

                        buttons.forEach((button) => {
                            button.addEventListener("click", function () {
                                // Remove 'active' class from all buttons
                                buttons.forEach((btn) =>
                                    btn.classList.remove("active")
                                );

                                // Add 'active' class to the clicked button
                                this.classList.add("active");
                            });
                        });
                    });
                </script>
               <div class="list"></div>
                <!-- Products list -->
                <div class="container menu">
                    <section class="menu__container">
                        <div class="row row-cols-1 row-cols-md-1">
                            <!-- Các sản phẩm cà phê sẽ được hiển thị tại đây -->
                        </div>
                    </section>
                </div>
                    <!-- Other products -->
                   <!-- <section class="list__others">
                        <div
                            class="row row__admin col-12 row-cols-12 row-cols-md-1"
                        >
                            <div class="col-12">
                                <div class="others-item">
                                    <a href="./product-detail.html?id=17">
                                        <img
                                            src="../assets/img/category-item-14.webp"
                                            alt=""
                                            class="others-item__thumb"
                                        />
                                    </a>
                                    <div class="others-item__content">
                                        <div class="others-item__content-left">
                                            <h3 class="others-item__title">
                                                <a
                                                    href="./product-detail.html?id=17"
                                                >
                                                    Chà Bông Phô Mai
                                                </a>
                                            </h3>
                                            <p class="others-item__price-wrap">
                                                39.000 đ |
                                                <span
                                                    class="others-item__status"
                                                    >Còn hàng</span
                                                >
                                            </p>
                                        </div>
                                        <div class="others-item__content-right">
                                            <p class="others-item__total-price">
                                                45.000 đ
                                            </p>
                                            <div class="others-item__ctrl">
                                                <button
                                                    class="others-item__ctrl-btn"
                                                    onclick="removeFromCoffee(17)"
                                                >
                                                    <img
                                                        src="../assets/icons/trash.svg"
                                                        alt="Remove"
                                                    />
                                                </button>

                                                <button
                                                    class="coffee-item__edit-btn"
                                                >
                                                    <img
                                                        src="../assets/icons/edit.svg"
                                                        alt=""
                                                    />
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="others-item">
                                    <a href="./product-detail.html?id=17">
                                        <img
                                            src="../assets/img/category-item-14.webp"
                                            alt=""
                                            class="others-item__thumb"
                                        />
                                    </a>
                                    <div class="others-item__content">
                                        <div class="others-item__content-left">
                                            <h3 class="others-item__title">
                                                <a
                                                    href="./product-detail.html?id=17"
                                                >
                                                    Chà Bông Phô Mai
                                                </a>
                                            </h3>
                                            <p class="others-item__price-wrap">
                                                39.000 đ |
                                                <span
                                                    class="others-item__status"
                                                    >Còn hàng</span
                                                >
                                            </p>
                                        </div>
                                        <div class="others-item__content-right">
                                            <p class="others-item__total-price">
                                                45.000 đ
                                            </p>
                                            <div class="others-item__ctrl">
                                                <button
                                                    class="others-item__ctrl-btn"
                                                    onclick="removeFromCoffee(17)"
                                                >
                                                    <img
                                                        src="../assets/icons/trash.svg"
                                                        alt="Remove"
                                                    />
                                                </button>

                                                <button
                                                    class="coffee-item__edit-btn"
                                                >
                                                    <img
                                                        src="../assets/icons/edit.svg"
                                                        alt=""
                                                    />
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="others-item">
                                    <a href="./product-detail.html?id=17">
                                        <img
                                            src="../assets/img/category-item-14.webp"
                                            alt=""
                                            class="others-item__thumb"
                                        />
                                    </a>
                                    <div class="others-item__content">
                                        <div class="others-item__content-left">
                                            <h3 class="others-item__title">
                                                <a
                                                    href="./product-detail.html?id=17"
                                                >
                                                    Chà Bông Phô Mai
                                                </a>
                                            </h3>
                                            <p class="others-item__price-wrap">
                                                39.000 đ |
                                                <span
                                                    class="others-item__status"
                                                    >Còn hàng</span
                                                >
                                            </p>
                                        </div>
                                        <div class="others-item__content-right">
                                            <p class="others-item__total-price">
                                                45.000 đ
                                            </p>
                                            <div class="others-item__ctrl">
                                                <button
                                                    class="others-item__ctrl-btn"
                                                    onclick="removeFromCoffee(17)"
                                                >
                                                    <img
                                                        src="../assets/icons/trash.svg"
                                                        alt="Remove"
                                                    />
                                                </button>

                                                <button
                                                    class="coffee-item__edit-btn"
                                                >
                                                    <img
                                                        src="../assets/icons/edit.svg"
                                                        alt=""
                                                    />
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>-->
            </div> 
            </div>
        </div>

        <!-- Footer -->
        <footer id="footer"></footer>
        <script>
            load("#footer", "../templates/footer.html");
        </script>
    </body>
</html>
