<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>The Coffee House</title>

        <!-- Favicon -->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../assets/favicon/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../assets/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="../assets/favicon/favicon-16x16.png"
        />
        <link rel="manifest" href="../assets/favicon/site.webmanifest" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />

        <!-- Font -->
        <link rel="stylesheet" href="../assets/fonts/stylesheet.css" />

        <!-- Styles -->
        <link rel="stylesheet" href="../assets/css/main.css" />

        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="../js/GetProducts-logined.js" defer></script>
        <script src="../assets/js/scripts.js"></script>
    </head>

    <body>
        <!-- Header -->
        <!-- <header id="header" class="header"></header>
        <script>
            load("#header", "../templates/header-logined.html");
        </script> -->

        <div class="row row__admin">
            <!-- Sidebar -->
            <div class="col-2">
                <div class="sidebar sidebar__admin">
                    <img
                        src="../assets/img/tch-logo.png"
                        alt=""
                        class="logo__img"
                        style="width: 200px"
                    />
                    <h1 class="sidebar__title">Danh mục</h1>
                    <ul class="sidebar__content">
                        <li>
                            <a
                                href="./admin-coffee.html"
                                class="sidebar__content--list"
                                >Cà phê</a
                            >
                        </li>
                        <li>
                            <a
                                href="./admin-tea.html"
                                class="sidebar__content--list"
                                >Trà</a
                            >
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Main -->
            <div class="col-10 main">
                <!-- Navbar -->
                <div class="main__navbar">
                    <div class="main__search">
                        <img
                            src="../assets/icons/search.svg"
                            alt=""
                            class="main__search--icon"
                        />
                        <form action="" class="search">
                            <input
                                type="text"
                                name=""
                                id="full-name"
                                placeholder="Tìm kiếm tên sản phẩm"
                                class="form__input"
                                required=""
                            />
                        </form>
                    </div>
                    <div class="top-act__user">
                        <img
                            src="../assets/img/avatar.jpg"
                            alt=""
                            class="top-act__avatar"
                        />

                        <!-- Dropdown -->
                        <div class="dropdown dropdown__admin">
                            <div class="dropdown__inner ">
                                <a class="dropdown-action" onclick="logout()"
                                    >Đăng xuất</a
                                >
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Order -->
                <div class="row order">
                    <p class="order__title">Sắp xếp theo</p>
                    <div class="order-options">
                        <div class="btn">
                            <p class="order__text">Tên</p>
                        </div>
                        <div class="btn">
                            <p class="order__text">Giá tăng dần</p>
                        </div>
                        <div class="btn">
                            <p class="order__text">Giá giảm dần</p>
                        </div>
                    </div>
                </div>
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        const buttons = document.querySelectorAll(
                            ".order-options .btn"
                        );

                        buttons.forEach((button) => {
                            button.addEventListener("click", function () {
                                // Remove 'active' class from all buttons
                                buttons.forEach((btn) =>
                                    btn.classList.remove("active")
                                );

                                // Add 'active' class to the clicked button
                                this.classList.add("active");
                            });
                        });
                    });
                </script>

                <!-- Choose list -->
                <p class="admin__choose">
                    Hãy chọn danh mục sản phẩm bạn muốn quản lý
                </p>
            </div>
        </div>

        <!-- Footer -->
        <footer id="footer"></footer>
        <script>
            load("#footer", "../templates/footer.html");
        </script>
    </body>
</html>
